@model List<CUSTOMER.ANALYSIS.APPLICATION.CORE.Models.PlanViewModel>

@{
    ViewBag.Title = "Planes";
    ViewBag.pTitle = "Planes";
    ViewBag.pageTitle = "Mantenimiento";

}

<div class="card">
    <div class="card-body">
        <a asp-action="Registrar" class="btn btn-success">Nuevo</a>
        <table class="datatable table dt-responsive table-hover table-sm table-bordered text-center">
            <thead>
                <tr>
                    <th>Acción</th>
                    <th>Tipo Plan</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Velocidad</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var TipoDocumento = ViewBag.tipoIdentificacion as List<CUSTOMER.ANALYSIS.APPLICATION.CORE.Entities.TipoIdentificacion>;
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            <a asp-action="Registrar" asp-route-id="@item.Id" class="btn btn-info"><i class="fa fa-edit"></i></a>
                            <button type="button" class="btn btn-danger btn-eliminar" value="@item.Id"><i class="fa fa-trash"></i></button>

                        </td>
                        <td>@item.TipoPlan</td>
                        <td>@item.Nombre</td>
                        <td>$ @item.Precio</td>
                        <td>@item.Velocidad Mbps</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Scripts {

    <script>
        $(document).ready(function () {
            var table = $(".datatable").DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
                },
                "pageLength": 5,
                "lengthMenu": [5, 10, 25, 50, 100],
                "order": [[1, 'asc']],
                "columnDefs": [
                    {
                        targets: 0,
                        sortable: false,
                    }
                ]
            });

            $(".btn-eliminar").click(function () {
                var id = $(this).val();
                console.log(id)
                ConfirmacionEliminar("@Url.Action("Eliminar", "Planes")", '@Url.Action("Index", "Planes")', { Id: id });
            });
        });
    </script>
    @Html.Raw(TempData["msg"])
}
