@model List<CUSTOMER.ANALYSIS.APPLICATION.CORE.Models.ClienteModel>

@{
    ViewBag.Title = "Clientes";
    ViewBag.pTitle = "Clientes";
    ViewBag.pageTitle = "Mantenimiento";

}

<div class="card">
    <div class="card-body">
        <a asp-action="Registrar" class="btn btn-success">Nuevo</a>
        <a asp-action="Mapa" class="btn btn-success">Ver Mapa</a>
        <table class="datatable table dt-responsive table-hover table-sm table-bordered">
            <thead>
                <tr>
                    <th>Acción</th>
                    <th>Nombres</th>
                    <th>Tipo Identificación</th>
                    <th>Identificación</th>
                    <th>Teléfono</th>
                    <th>Sector</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var TipoDocumento = ViewBag.tipoIdentificacion as List<CUSTOMER.ANALYSIS.APPLICATION.CORE.Entities.TipoIdentificacion>;
                }
                @foreach (var item in Model)
                {
                    string localizacion = $"{item.Latitud}, {item.Longitud}";
                    string url = $"https://www.google.com.ec/maps/@{localizacion},19z?hl=es";
                    <tr>
                        <td class="text-center">
                            <a asp-action="Registrar" asp-route-id="@item.Id" class="btn btn-info"><i class="fa fa-edit"></i></a>
                            <button type="button" class="btn btn-danger btn-eliminar" value="@item.Id"><i class="fa fa-trash"></i></button>
                            <a href="@url" target="_blank" class="btn btn-success"><i class="fa fa-map"></i></a>
                        </td>
                        <td>@item.RazonSocial</td>
                        <td>@(TipoDocumento?.FirstOrDefault(x => x.Codigo == item.TipoIdentificacion)?.Nombre ?? "Tipo no reconocido")</td>
                        <td>@item.Identificacion</td>
                        <td>@item.Telefono</td>
                        <td>@item.Sector</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Scripts {

    <script>
        $(document).ready(function () {
            var table = $(".datatable").DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
                },
                "pageLength": 5,
                "lengthMenu": [5, 10, 25, 50, 100],
                "order": [[1, 'asc']],
                "columnDefs": [
                    {
                        targets: 0,
                        sortable: false,
                    }
                ]
            });

            $(".btn-eliminar").click(function () {
                var id = $(this).val();
                console.log(id)
                ConfirmacionEliminar("@Url.Action("Eliminar", "Clientes")", '@Url.Action("Index", "Clientes")', { Id: id } );
            });
        });
    </script>
    @Html.Raw(TempData["msg"])
}
