<!DOCTYPE html>
<html lang="en">

<head>
    @await Html.PartialAsync("~/Views/Shared/_title_meta.cshtml")
    @RenderSection("styles", false)
    @await Html.PartialAsync("~/Views/Shared/_head_css.cshtml")


    <!-- select2 css -->
    @*<link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />*@
    <!-- sweetalert2 -->
    <link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

    <!-- DataTables -->
    <link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- jquery.toast -->
    <link href="~/assets/libs/jquery.toast/jquery.toast.min.css" rel="stylesheet" type="text/css" />

    @*<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />*@
    <link rel="manifest" href="~/manifest.json">
    <meta name="theme-color" content="#2196f3" />
</head>
<body data-sidebar="dark">

    <div id="layout-wrapper">
        @await Html.PartialAsync("~/Views/Shared/_topbar.cshtml")
        @await Html.PartialAsync("~/Views/Shared/_sidebar.cshtml")

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->

        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    @await Html.PartialAsync("~/Views/Shared/_page_title.cshtml")

                    <div class="container body-content ">
                        <div id="renderbody">
                            @RenderBody()
                        </div>
                    </div>

                    @*<div id="renderbody">
                    @RenderBody()
                    </div>*@

                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
        </div>
        <!-- end main content-->

        <input id="UrlBaseSite" type="hidden" value="@Url.Action("Index","Dashboard")" />
        @Html.AntiForgeryToken()
    </div>
    @RenderSection("externalhtml", required: false)
    @await Html.PartialAsync("~/Views/Shared/_footer.cshtml")
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    @await Html.PartialAsync("~/Views/Shared/_vendor_scripts.cshtml")

    <!-- select 2 plugin -->
    @*<script src="~/assets/libs/select2/js/select2.min.js"></script>*@
    @*<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>*@

    <!-- sweetalert2 -->
    <script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>

    <!-- jquery.toast -->
    <script src="~/assets/libs/jquery.toast/jquery.toast.min.js"></script>

    <!-- Required datatable js -->
    <script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

    <!-- Responsive examples -->
    <script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>


    <script src="~/js/utilidades.js?v=@CUSTOMER.ANALYSIS.UI.WEB.SITE.Parameters.WebSiteParameters.Version"></script>

    <script>
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                /***
                 * Se agrega el codigo necesario que se ejecutar antes de las peticiones
                 * **/
            },
            data: { "__RequestVerificationToken": $('[name= "__RequestVerificationToken"]').val() }
        });

        $(document).ready(function () {
            $("#page-header-notifications-dropdown").click(function () {
                $.get("@Url.Action("GetNotificaciones", "Dashboard")", function (result) {
                    $("#div-notificaciones").empty().html(result);
                }).fail(function (error) { MsgAjaxError(error); });
            });
            setInterval(MostrarNotificaciones, 300000);
        });

        function MostrarNotificaciones() {
            $.get("@Url.Action("GetNotificaciones", "Dashboard")", function (result) {
                $("#div-notificaciones").empty().html(result);
            }).fail(function (error) { MsgAjaxError(error); });
        }
    </script>

    @RenderSection("Scripts", required: false)

</body>
</html>
