@model List<CUSTOMER.ANALYSIS.APPLICATION.CORE.Entities.ClientePlan>

@if (Model != null && Model.Any())
{
    <table id="datatable-documentos-emitidos" class="table table-striped table-bordered nowrap table-hover table-sm" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
        <thead class="thead-light">
            <tr>
                <th class="text-center">Nombres</th>
                <th class="text-center">Plan</th>
                <th class="text-center">Tipo Plan</th>
                <th class="text-center">Sector</th>
                <th class="text-center">Fecha</th>
                <th class="text-center">Valor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model)
            {
                <tr>
                    <td class='text-center'>@row.IdClienteNavigation?.RazonSocial</td>
                    <td class='text-center'>@row.IdPlanNavigation?.Nombre</td>
                    <td class='text-center'>@row.IdPlanNavigation?.IdTipoPlanNavigation?.Nombre</td>
                    <td class='text-center'>@row.IdClienteNavigation?.IdSectorNavigation?.Nombre</td>
                    <td class='text-center'>@row.FechaContratacion.Value.ToString("dd/MM/yyyy")</td>
                    <td class='text-center'>@CUSTOMER.ANALYSIS.APPLICATION.CORE.Utilities.Utilidades.DoubleToString_FrontCO(row.PagoMensual ?? 0, 2)</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="card">
        <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
            No existe registros
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
}

<!-- Datatable init js -->
<script>
    $(document).ready(function () {
        // INICIO DATATABLE
        $("#datatable").DataTable(),
            $("#datatable-documentos-emitidos").DataTable({
                scrollX: true,
                paging: true,
                ordering: true,
                info: true,
                pageLength: 10,
                searching: true,
                responsive: false,
                language: {
                    processing: 'Procesando...',
                    search: "Buscar: _INPUT_",
                    lengthMenu: '   Mostrar _MENU_ registros',
                    info: 'Mostrando desde _START_ al _END_ de _TOTAL_ registros',
                    infoEmpty: 'Mostrando ningún elemento.',
                    infoFiltered: '(filtrado _MAX_ elementos total)',
                    infoPostFix: '',
                    loadingRecords: 'Cargando registros...',
                    zeroRecords: 'No se encontraron registros',
                    emptyTable: 'No hay datos disponibles en la tabla',
                    paginate: {
                        first: 'Primero',
                        previous: 'Anterior',
                        next: 'Siguiente',
                        last: 'Último'
                    }
                },
                lengthChange: !1,
                buttons: [
                    {
                        text: 'Excel',
                        action: function (e, dt, node, config) {
                            DonwloadReporteExcel();
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                        pageSize: 'LEGAL',
                        customize: function (doc, config) {
                            var tableNode;
                            for (i = 0; i < doc.content.length; ++i) {
                                if (doc.content[i].table !== undefined) {
                                    tableNode = doc.content[i];
                                    break;
                                }
                            }

                            var rowIndex = 0;
                            var tableColumnCount = tableNode.table.body[rowIndex].length;

                            if (tableColumnCount > 5) {
                                doc.pageOrientation = 'landscape';
                            }
                        }
                    },
                    {
                        text: 'Enviar reporte',
                        action: function (e, dt, node, config) {
                            openModalEnviarMail();
                        }
                    },
                ]
            }).buttons().container().appendTo("#datatable-documentos-emitidos_wrapper .col-md-6:eq(0)");
        // FIN DATATABLE
    });
</script>